<div *ngIf="cards && cards.length > 0; else noCardsMessage">
    <div style="width: 100%; display: inline-block;">
        <mat-checkbox *ngIf="viewEditMode" style="float:right" [(ngModel)]="allSelected" (click)="selectAllCards()"></mat-checkbox>
    </div>
    <app-cube-card-row *ngFor="let card of cards | cardFilter: filteredCards | curveSort" [card]="card" [viewEditMode]="viewEditMode" 
        (deleteCardEvent)="deleteCard($event)"></app-cube-card-row>

    <div class="full-width center" *ngIf="cards.length <= filteredCards.length">
        <p>Urza you have gone too far! You filtered it all!</p>
        <button mat-raised-button style="display:inline-block" (click)="resetFilter()">Reset</button>
        <button mat-raised-button style="display:inline-block" (click)="openFilterDialog()">Filter Again</button>
    </div>
</div>
<ng-template #noCardsMessage>
    There are no cards in the list yet. You can add them individually or bulk upload them.
</ng-template>