<span style="display:flow-root;">
    <div style="float:left;">
        <h2 *ngIf="!viewEditMode">
            {{cube.CubeName}}
        </h2>
        <mat-form-field *ngIf="viewEditMode">
            <input matInput [(ngModel)]="cube.CubeName" placeholder="Cube Title" aria-label="Edit Cube Title">
        </mat-form-field>
    </div>
    <button mat-icon-button style="float:right; margin:0 auto;" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
</span>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="viewEditMode = !viewEditMode;">
        <mat-icon>edit</mat-icon>
        <span>{{!viewEditMode ? 'Edit' : 'Normal'}}</span>
    </button>
    <button *ngIf="viewEditMode" mat-menu-item (click)="openImportDialog()">
        <mat-icon>import_export</mat-icon>
        <span>Import</span>
    </button>
    <button *ngIf="viewEditMode" mat-menu-item (click)="deleteSelectedCards()"
        [disabled]="!(cardsSelected().length > 0)">
        <mat-icon>delete</mat-icon>
        <span>Delete Selected</span>
    </button>
    <button mat-menu-item (click)="openFilterDialog()">
        <mat-icon>filter_list</mat-icon>
        <span>Filter</span>
    </button>
    <button mat-menu-item (click)="openOrderByDialog()">
        <mat-icon>reorder</mat-icon>
        <span>Order By</span>
    </button>
</mat-menu>

<div *ngIf="viewEditMode">
    <app-add-card [cube]="cube" [viewEditMode]="viewEditMode" (addCardEvent)="getCube()"></app-add-card>
</div>

<!-- <div *ngIf="cube && cube.CubeCards && cube.CubeCards.length > 0;">
    <div *ngFor="let card of cube.CubeCards"> -->
        <!-- <card-row *ngFor="let card of cube.CubeCards | cardFilter: filteredCards | curveSort" [Card]="card" [viewEditMode]="viewEditMode"></card-row> -->
        <!-- <img style="vertical-align:middle;" [src]="card.Card.ImageUriSmall" onError="this.src='./../../assets/images/card_back.jpg'"
            height="50" aria-hidden />
        <span>{{card.Card.CardName}}</span>
        <i class="ss ss-{{card.Card.SetCode == 'tsb' ? 'tsp' : card.Card.SetCode.toLowerCase()}} ss-{{card.Card.SetCode == 'tsb' ? 'timeshifted' : card.Card.Rarity.toLowerCase()}} ss-fw ss-grad"
            aria-hidden></i>
    </div>
</div> -->
<app-cube-card-list [cards]="cube.CubeCards" [filteredCards]="filteredCards" [viewEditMode]="viewEditMode"></app-cube-card-list>

<!-- <button mat-mini-fab class="fixed-bottom-right" (click)="viewEditMode = !viewEditMode" aria-label="Toggle edit view">
    <mat-icon>edit</mat-icon>
</button> -->