<div *ngIf="card && card.Card" class="full-width" style="line-height: 60px; vertical-align: middle; display: inline-block;">
    <img class="clickable" style="vertical-align: middle;" [src]="card.Card.ImageUriNormal" onError="this.src='./../../assets/images/card_back.jpg'"
        (click)="openCardImageDialog()" height="50" aria-hidden/>
    <span>{{card.Card.CardName}}</span>
    <i class="ss ss-{{card.Card.SetCode == 'tsb' ? 'tsp' : card.Card.SetCode.toLowerCase()}} ss-{{card.Card.SetCode == 'tsb' ? 'timeshifted' : card.Card.Rarity.toLowerCase()}} ss-fw ss-grad"
        [matTooltip]="card.Card.SetName" aria-hidden></i>
    <mat-checkbox *ngIf="viewEditMode" style="vertical-align: middle; float: right" [(ngModel)]="card.selected"></mat-checkbox>
    <button mat-icon-button *ngIf="viewEditMode" style="vertical-align: middle; float: right" color="warn" (click)="deleteCardEvent.emit(card)">
        <mat-icon>delete</mat-icon>
    </button>
</div>