<span style="display:flow-root;">
    <div style="float:left;">
        <h2 *ngIf="!viewEditMode">
            {{Cube.CubeName}}
        </h2>
        <mat-form-field *ngIf="viewEditMode">
            <input matInput [(ngModel)]="Cube.CubeName" placeholder="Cube Title" aria-label="Edit Cube Title">
        </mat-form-field>
    </div>
    <button mat-icon-button style="float:right; margin:0 auto;" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
</span>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="viewEditMode = !viewEditMode; populateSearchCardList();">
        <mat-icon>edit</mat-icon>
        <span>{{!viewEditMode ? 'Edit' : 'Normal'}}</span>
    </button>
    <button *ngIf="viewEditMode" mat-menu-item (click)="openImportDialog()">
        <mat-icon>import_export</mat-icon>
        <span>Import</span>
    </button>
    <button *ngIf="viewEditMode" mat-menu-item (click)="deleteSelectedCards()" [disabled]="!(cardsSelected().length > 0)">
        <mat-icon>delete</mat-icon>
        <span>Delete Selected</span>
    </button>
    <button mat-menu-item (click)="openFilterDialog()">
        <mat-icon>filter_list</mat-icon>
        <span>Filter</span>
    </button>
    <button mat-menu-item (click)="openOrderByDialog()">
        <mat-icon>reorder</mat-icon>
        <span>Order By</span>
    </button>
</mat-menu>

<div *ngIf="!loading">
    <form *ngIf="viewEditMode" class="add-card-form">
        <!-- TODO - move to it's own component -->
        <mat-form-field class="full-width">
            <input matInput [(ngModel)]="searchText" placeholder="Add Card" name="searchText" aria-label="Add Card" [matAutocomplete]="auto"
                [formControl]="addCardCtrl">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCard" (optionSelected)="addCard($event.option.value)">
                <mat-option *ngFor="let card of searchResults" [value]="card">
                    <!-- <img style="vertical-align:middle;" [src]="card.ImageUris.Small" onError="this.src=environment.cardBackUrl" height="50" aria-hidden/>
                    <span>{{card.Name}}</span>
                    <i class="ss ss-{{card.SetCode == 'tsb' ? 'tsp' : card.Set.toLowerCase()}} ss-{{card.Set == 'tsb' ? 'timeshifted' : card.Rarity.toLowerCase()}} ss-fw ss-grad"
                        aria-hidden></i> -->
                    <card-row [Card]="card"></card-row>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>

    <div *ngIf="Cube && Cube.CubeCards && Cube.CubeCards.length > 0; else noCardsMessage">
        <div *ngFor="let card of Cube.CubeCards">
        <!-- <card-row *ngFor="let card of Cube.CubeCards | cardFilter: FilterCards | curveSort" [Card]="card" [viewEditMode]="viewEditMode"></card-row> -->
            <img style="vertical-align:middle;" [src]="card.Card.ImageUriSmall" onError="this.src=environment.cardBackUrl" height="50" aria-hidden/>
            <span>{{card.Card.Name}}</span>
            <i class="ss ss-{{card.Card.SetCode == 'tsb' ? 'tsp' : card.Card.Set.toLowerCase()}} ss-{{card.Card.Set == 'tsb' ? 'timeshifted' : card.Card.Rarity.toLowerCase()}} ss-fw ss-grad"
                aria-hidden></i>
        </div>
    </div>
</div>

<div *ngIf="loading">
    <mat-progress-bar color="primary" mode="determinate" [value]="loadingProgress"></mat-progress-bar>
</div>

<!-- <button mat-mini-fab class="fixed-bottom-right" (click)="viewEditMode = !viewEditMode" aria-label="Toggle edit view">
    <mat-icon>edit</mat-icon>
</button> -->